.nu .btn {
  display: inline-block;
  margin: 0.5px;
  line-height: 0.2em;
  padding: 0.8em 1.5em;
  font-weight: bold;
  border-width: medium;
  border-style: solid;
  background: transparent;
  border-radius: 0;
  cursor: pointer;
  /* font-family: "Booster Next FY", "Avenir Next", Avenir, sans-serif; */
  user-select: none;
  vertical-align: bottom;
  transition: background-color 0.2s, color 0.2s, padding 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-radius 0.2s;
}
.nu .btn.btn-disabled {
  cursor: not-allowed;
  opacity: 0.8;
}
.nu .btn.btn-disabled:active {
  opacity: 0.6;
}
.nu .btn-a {
  color: #c41515;
  border-color: #c41515;
  background-color: #ffffff;
}
.nu .btn-a:hover {
  background-color: #c41515;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-a:active {
  background-color: #ff7c7c;
  border-color: #ff7c7c;
}
.nu .btn-b {
  color: #c56b0c;
  border-color: #c56b0c;
}
.nu .btn-b:hover {
  background-color: #c56b0c;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-b:active {
  background-color: #ffbe79;
  border-color: #ffbe79;
}
.nu .btn-c {
  color: #33a124;
  border-color: #33a124;
}
.nu .btn-c:hover {
  background-color: #33a124;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-c:active {
  background-color: #86f178;
  border-color: #86f178;
}
.nu .btn-d {
  color: #375ed1;
  border-color: #375ed1;
}
.nu .btn-d:hover {
  background-color: #375ed1;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-d:active {
  background-color: #91acff;
  border-color: #91acff;
}
.nu .btn-e {
  color: #c438d7;
  border-color: #c438d7;
}
.nu .btn-e:hover {
  background-color: #c438d7;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-e:active {
  background-color: #f397ff;
  border-color: #f397ff;
}
.nu .btn-black {
  color: #252730;
  border-color: #252730;
}
.nu .btn-black:hover {
  background-color: #252730;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-black:active {
  background-color: #1e2027;
  border-color: #1e2027;
}
.nu .btn-dark {
  color: #3F4351;
  border-color: #3F4351;
}
.nu .btn-dark:hover {
  background-color: #3F4351;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-dark:active {
  background-color: #383c48;
  border-color: #383c48;
}
.nu .btn-gray {
  color: #6D6F7F;
  border-color: #6D6F7F;
}
.nu .btn-gray:hover {
  background-color: #6D6F7F;
  color: #E6EAEF;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-gray:active {
  background-color: #666877;
  border-color: #666877;
}
.nu .btn-light {
  color: #E6EAEF;
  border-color: #E6EAEF;
}
.nu .btn-light:hover {
  background-color: #E6EAEF;
  color: #252730;
  padding-left: 2.5em;
  padding-right: 2.5em;
  border-radius: 0.4em;
}
.nu .btn-light:active {
  background-color: #dde2e9;
  border-color: #dde2e9;
}

/*
    Auther: Abdelrhman Said
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}


.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.wrapper .flickr:hover,
.wrapper .flickr:hover .tooltip,
.wrapper .flickr:hover .tooltip::before {
  background-color: #c02680;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #2123a3;
  color: #ffffff;
}

.wrapper .cvpdf:hover,
.wrapper .cvpdf:hover .tooltip,
.wrapper .cvpdf:hover .tooltip::before {
  background-color: #36a187;
  color: #ffffff;
}

.wrapper .gs:hover,
.wrapper .gs:hover .tooltip,
.wrapper .gs:hover .tooltip::before {
  background-color: #2e3dc7;
  color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 824px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
